{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waypoint Map Editor</title>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xml2js/0.4.23/xml2js.min.js"></script>
    <!--<script src="{% static 'script.js' %}" defer></script>-->
    <script src="{% static 'waypoint.js' %}" defer></script>
    <script src="{% static 'popup.js' %}" defer></script>
    <script src="{% static 'path.js' %}" defer></script>
    <script src="{% static 'kmz.js' %}" defer></script>
    <script src="{% static 'polygon.js' %}" defer></script>
    <script src="{% static 'poi.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="control-group">
</div>

</head>
<body oncontextmenu="return false;">
    <h1>Interactive Waypoint Map Editor</h1>
    <div id="controls">
        <input type="number" id="altitude" placeholder="Altitude (m)">
        <input type="number" id="speed" placeholder="Speed (m/s)">
        <input type="number" id="gimbal" placeholder="Gimbal Angle (°)">
        <input type="number" id="distance" placeholder="Distance for Polygon">
    </div>
    <div id="controls">
        <button id="enable-path" onclick="enablePath()">Enable Path</button>
        <button id="disable-path" onclick="disablePath()">Disable Path</button>
        <button onclick="clearAllWaypoints()">Delete All Waypoints</button>
        <button onclick="clearPOI()">Clear POI</button>
        <button id="export-kmz">Export KMZ</button>
        <input type="file" id="file-kmz" accept=".kmz" style="display: none;">
        <button id="load-kmz-button" style="cursor: pointer;">Load KMZ</button>
    </div>
    <br>
    <div id="global-height-control">
        <label for="global-height-slider">Global Waypoint Height: <span id="global-height-value">1</span> m</label>
        <input type="range" id="global-height-slider" min="0" max="15" value="1" step="1">
    </div>
    <label id="totalFlightLength">Total Flight Length: 0 m</label>
    <div id="map" ></div>
</body>
</html>
